@model Blog.ViewModels.ArticleViewModel
@{
    ViewData["Title"] = "Edit Article";
}
<form method="post" asp-action="EditArticle">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label class="control-label" asp-for="Name"></label><br/>
        <input class="form-control" asp-for="Name"/>
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label class="control-label" asp-for="Description"></label><br />
        <textarea class="form-control" asp-for="Description"></textarea>
        <span asp-validation-for="Description"></span>
    </div>
    <div>
        <label class="control-label" asp-for="ShortDescription"></label><br />
        <input class="form-control" asp-for="ShortDescription" />
        <span asp-validation-for="ShortDescription"></span>
    </div>
    <div>
        <label class="control-label" asp-for="Category"></label><br />
        <input class="form-control" asp-for="Category" />
        <span asp-validation-for="Category"></span>
    </div>
    <div>
        <label class="control-label" asp-for="Tags"></label><br />
        <input class="form-control" asp-for="Tags" />
        <span asp-validation-for="Tags"></span>
    </div>
    <div>
        <input class="control-label" type="hidden" asp-for="Id" />
    </div>
    <input class="btn btn-outline-secondary" type="submit" value="Edit" />
</form>